.navbar {
  box-shadow: none;
}
.top-nav-collapse {
    background-color: #4B515D;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #4B515D;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #4B515D;
    }
  }
.header{
  background: url(../images/Waco-Suspension-Bridge.jpeg) no-repeat center center fixed;
  height: 100vh;
  width: 100vw;
  box-shadow: inset 0 0 0 100vh  rgba(0,0,0,0.75);
  -webkit-box-shadow:inset 0 0 0 100vh  rgba(0,0,0,0.75);
  -moz-box-shadow:inset 0 0 0 100vh  rgba(0,0,0,0.75);
  -ms-box-shadow:inset 0 0 0 100vh  rgba(0,0,0,0.75);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header a{
  text-decoration: none;
  color:#fff;
}
.header-text {
  text-align: center;
  color:#fff;
  padding-top:10em;
}
.header-text a{
  color:#fff; text-decoration: none;
}
.header-text a:hover{
  cursor: default;
}
